body {
    background-color: #F3F3F3;
}

.topo {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topo img {
    width: 75px;
    height: 53px;
}

.topo ion-icon {
    font-size: 50px;
}

.conteudo {
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    font-size: 14px;
}

.mensagem {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.mensagem .hora {
    color: #aaaaaa;
    margin-right: 5px;
}

.mensagem .nome {
    font-weight: 700;
}

.mensagem.status {
    background-color: #dcdcdc;
}

.mensagem.reservada {
    background-color: #ffdede;
}

.rodape {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 20px
}

.rodape ion-icon {
    font-size: 30px;
}

.rodape input {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 30px);
    height: 100%;
    border: none;
    color: #000000;
    font-size: 18px;
}

.rodape input::placeholder {
    color: #000000;
    font-style: italic;
}